{{ define "artistPage" }}

<div class="card">
    <a href="/full/{{ .Id }}">
      <div class="card_header">{{.GroupName}}</div>
      <div class="card_main">
        <div
          class="main__picture"
          style="background-image:url({{.Image}});"
        ></div>
        <div class="group">
          <div class="group__header">
            <div>Creation: {{ .CreationDate }}</div>
            <div>First album: {{ .FirstAlbum }}</div>
          </div>
          <div class="group__body">
            {{ range .Members}}
            <div class="group__text">{{.}}</div>
            {{end}}
          </div>
        </div>
      </div>
    </a>
  </div>
  
  {{ end }}
  
