<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../templates/styles.css">
  <title>Groupie-tracker</title>
</head>
<body>
  <label>Track your favorite artists</label>
  <hr>
  {{ range . }}
  <div class="card_HEAD">
  <div class="card">
    <a href="artist/{{.Id}}">
      <img src={{.Image}}>
      <div class="card_footer">
         {{.GroupName}}
      </div>
    </a>
  </div>
  </div>
{{end}}
</body>
</html>