<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../templates/styles.css">
  <title>Groupie-tracker</title>
</head>
<body>
  <header>
    <label>Track your favorite artists</label>
  </header>
  <hr>
  {{ range . }}
  <div class="grid-container">
    <a href="artist/{{.Id}}">
      <img src={{.Image}}>
      <div class="card_footer"><p>{{.GroupName}}</p></div>
    </a>
  </div>
  {{end}}
</body>
</html>