<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../templates/styles.css">
  <title>Groupie-tracker</title>
</head>
<body>
  <label>Groupie-tracker</label>
  <hr>
  <button type="button">Click Me!</button> 
  <button type="button">Click Me!</button> 
  <button type="button">Click Me!</button> 
  <button type="button">Click Me!</button> 
  <button type="button">Click Me!</button> 
  <hr>
</body>
</html>