

body {                
    padding-top: 8%;
    color: lightgray;
    text-align: center;
    background-color: rgb(37, 35, 35);
    font-size: 40px;
    font-family:'Courier New', monospace;
}

.button {
    background-color: #04AA6D;
    border: 5px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    border-radius:50%;
    cursor: pointer;
  }

img {
    border-radius: 50%;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 5px;
}

.card_footer {
    padding: 20px;
    font-size: 30px;
    display: table-cell;
    vertical-align:bottom;
}